<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title text-center mb-4">Prijava</h4>

          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

          <form (ngSubmit)="login()">
            <div class="form-group mb-3">
              <label for="email">Email naslov</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="form-group mb-3">
              <label for="password">Geslo</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Prijavi se</button>
          </form>

          <div class="form-group text-center mt-4 mb-3">
            <a routerLink="/registracija">Ali še nimaš uporabniškega računa?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>