<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title text-center mb-4">Prijava</h4>
            <form>
              <div class="form-group mb-3">
                <label for="exampleInputEmail1">Email naslov</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputPassword1">Geslo</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary w-100">Prijavi se</button>
            </form>
            
            <div class="form-group text-center mt-4 mb-3">
                <a routerLink="/registracija">Ali še nimaš uporabniškega računa?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
