<!-- Navbar -->
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" routerLink="/">Recepti</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">  <!-- Add me-auto to push "Dodaj recept" to the right -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/dodaj">Dodaj recept</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">  <!-- Add ms-auto to push "Prijava" to the far right -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/prijava">Prijava</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content-container">
  <router-outlet></router-outlet>
</div>

