<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title text-center mb-4">Registracija</h4>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="email">Email naslov</label>
              <input id="email" type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group mb-3">
              <label for="password">Geslo</label>
              <input id="password" type="password" class="form-control" formControlName="password">
            </div>
            <div class="form-group mb-3">
              <label for="confirm">Ponovno vnesite geslo</label>
              <input id="confirm" type="password" class="form-control" formControlName="confirmPassword">              
            </div>
            <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary w-100">Registriraj se</button>
          </form>
          <div class="form-group text-center mt-4 mb-3">
            <a routerLink="/prijava">Že imaš uporabniški račun?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>