<div class="container mt-5">
    <div class="row justify-content-between">
  
      <div class="col-md-6">
        <div class="recipe-header">
          <h1>Pizza Margherita</h1>
          <div class="recipe-details">
            <p><strong>Čas priprave:</strong> 30 minut</p>
            <p><strong>Težavnost:</strong> Enostavno</p>
          </div>
          
          <div class="recipe-text mt-4">
            <h3>Sestavine:</h3>
            <p>1 testo za pico (lahko kupljeno ali doma narejeno), 200 g paradižnikove omake, 250 g mozzarelle, svež bazilika, sol in poper po okusu, olje za premazovanje.</p>
            
            <h3>Navodila:</h3>
            <p>Pečico segrejte na 220°C. Testo za pico razvaljajte na pekač. Po testu enakomerno razmažite paradižnikovo omako. Mozzarello narežite na kocke in jo razporedite po omaki. Pico pecite 10-15 minut, dokler robovi ne postanejo zlato-rjavi. Po pici potresite sveže narezane liste bazilike in jo po želji začinite s soljo in poprom. Postrezite in uživajte!</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <img src="slike/pizza_margherita.jpg" alt="Pizza Margherita" class="recipe-image mb-3" style="width: 100%; max-width: 600px; height: auto;">
      </div>
    </div>
</div>
