<div class="container mt-5">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <div class="recipe-header">
        <h1>{{ recipe?.imeRecepta }}</h1>
        <div class="recipe-details">
          <p><strong>Čas priprave:</strong> {{ recipe?.casPriprave }} minut</p>
          <p><strong>Težavnost:</strong> {{ recipe?.tezavnost }}</p>
        </div>

        <div class="recipe-text mt-4">
          <h3>Sestavine:</h3>
          <p>{{ recipe?.sestavine }}</p>

          <h3>Navodila:</h3>
          <p>{{ recipe?.opis }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Show the loading spinner until the image is loaded -->
      <div *ngIf="!imageLoaded" class="loading-spinner">Loading image...</div>
      <img *ngIf="recipe?.slika" 
           [src]="'http://localhost:3000' + recipe?.slika" 
           alt="{{ recipe?.imeRecepta }}" 
           class="recipe-image mb-3" 
           style="width: 100%; max-width: 600px; height: auto;" 
           (load)="onImageLoad()"> <!-- Trigger onImageLoad when image is loaded -->
    </div>
  </div>
</div>